/* 순서지키는 것이 중요! */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,400&display=swap");
@import "reset.css";
@import "variable.css";
/* components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/alternative-screen-header.css";
@import "components/no-mobile.css";
/* screens */
@import "screens/login.css";
@import "screens/freinds.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";
body {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  color: #2f363e;
}

.main-screen {
  padding-left: var(--horizantal-space);
  padding-right: var(--horizantal-space);
}

.main-screen__add-top-margin {
  margin-top: 115px;
}
