/* 중앙배치 */
.alt-header {
  padding: 13px;
  position: fixed;
  top: 25px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: #fae100b4;
  z-index: 2;
}
/* .alt-header__column {
  width: 33%;
}
.alt-header__column :first-child {
  margin-right: auto;
  display: flex;
  justify-content: flex-start;
}
.alt-header__column :nth-child(2) {
  display: flex;
  justify-content: center;
} */
/* .alt-header__column :last-child {
  display: flex;
} */

.alt-header__title {
  font-size: 20px;
  font-weight: 600;
  margin-left: 40px;
}

.alt-header__column i {
  margin-right: 20px;
}
