.badge {
  color: white;
  background-color: tomato;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
/* relative-father: screen-header__icons*/
.badge-round {
  width: 7px;
  height: 7px;
  position: absolute;
  /* left: 100px; */
  right: -10px;
  top: -8px;
}

/* relative parents:  */
.badge-empty {
  width: 12px;
  height: 12px;
  border: tomato solid 2px;
  color: tomato;
  background-color: white;
  position: absolute;
  bottom: 0px;
  right: -20px;
}
